/* ======== GLOBAL STYLE ======== */

/*------ Top level ------*/
:root {
    --primary-color: #0091ff;
    --primary-darker-color: #0082e2;
    --primary-darkest-color: #0066b4;

    --danger-color: #ff2e2e;
    --danger-darker-color: #df2828;
    --danger-darkest-color: #be2222;
}

* {
    box-sizing: border-box;
}

body {
    font-family: monospace, "Microsoft YaHei";
    font-size: 16px;
    margin: 0;
}
/*------ Top level ------*/



/*------ Custom Class ------*/
.mr-h { margin-right: .5rem }
.mr-1 { margin-right: 1rem }
.mr-2 { margin-right: 2rem }

.ml-h { margin-left: .5rem }
.ml-1 { margin-left: 1rem }
.ml-2 { margin-left: 2rem }

.mb-h { margin-bottom: .5rem }
.mb-1 { margin-bottom: 1rem }
.mb-2 { margin-bottom: 2rem }

.mt-h { margin-top: .5rem }
.mt-1 { margin-top: 1rem }
.mt-2 { margin-top: 2rem }

section.inner {
    width: 1200px;
    margin: 0 auto;
}

.role-button {
    cursor: pointer;
    transition: transform .3s cubic-bezier(.2, 2, .4, 1);
}

.role-button:active {
    transform: scale(.9);
}

.focusable:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 0 .2rem rgba(0, 145, 255, .25);
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.clear-button-style {
    color: inherit;
    background-color: transparent;
    border: none;
}
/*------ Custom Class ------*/

/* ======== GLOBAL STYLE ======== */